html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
  text-align: center;
}

hr {
  border: 0.2;
  border-bottom: 0.2em solid #c30;
  margin: 0 2em;
}

nav {
  background-color: #eaeaea;
  padding-bottom: 0.1em;
}

nav a {
  text-decoration: none;
}

nav a:link {
  color: inherit;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: red;
}

nav ul {
  padding-left: 0;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h4 {
  display: flex;
  text-align: center;
  justify-content: center;
}

p {
  justify-content: center;
  align-items: center;
  text-align: left;
}

#content {
  display: flex;
  justify-content: space-around;
}

.hire p {
  font-size: 11px;
  column-count: 1;
  display: flex;
}

.layouts {
  flex: 3;
}

.layouts p {
  column-count: 3;
  font-size: 11px;
}
